<!-- footer -->

<section class="vh-35" id="footer">
    <div class="grid-middle frame-tb padded-1">
      <div class="col-4_sm-6 grid center vh30">
        <div class="col-12-middle">
          <img class="img-logo" src="/images/Logo.webp" alt="">
        </div>
      </div>
      <div class="col-4_sm-6 padded-l frame-lr-100 sm-frame-l-100">
        <!-- <p class="sm-hide">Escape to The Tent Village – a serene seaside retreat in the heart of Driftwood Bay, where nature meets comfort.</p> -->
        <p><strong>Find us at:</strong></p>
        <p>Beach Road 15, Driftwood Bay <br> 10583 Florida, US</p>
      </div>
      <div class="col-4_sm-12 padded-l sm-padded sm-border-t sm-center">
            <p><strong>Contact us:</strong></p>
            <p>E-Mail: <a href="mailto:hello@tentvillage.com">hello@tentvillage.com</a></p>
            <p>Tel: 01 05254 258526</p>
      </div>
    </div>
    <div class="center padded-1">
  
        <a href="https://www.instagram.com/onememory.design/" target=”_blank” class="social-icons"> <i class="social fab fa-instagram"></i> </a>
        <a href="https://www.facebook.com/profile.php?id=61572833130208" target=”_blank” class="social-icons"> <i class="social fab fa-facebook-f"></i> </a>
        <a href="https://www.pinterest.com/onememorydesign/" target=”_blank” class="social-icons"> <i class="social fab fa-pinterest-p"></i> </a>
  
      </p>
    </div>
  </section>
  