<section class="center padded-t margin-b-neg">
    <h3>OnememoryDesign.</h3>
  </section>
  
  <section class="grid padded-t-2 xs-padded-t10 bg-light" id="footer">
    <hr class="col-12">
    <div class="col-12 center">
      <nav>
        <a href="/privacy">Privacy</a>
        <a href="/legal-notice">Legal Notice</a>
        <a href="/cookie-policy">Cookie Policy</a>
      </nav>
    </div>
    <hr class="col-12">
  
    <div class="col-4-middle_md-6_xs-12 padded-2 center border-r xs-hide ">
        <h4>Location</h4>
        <p>Marmari, Euboea, Greece</p>
    </div>
    <div class="col-4-middle padded-2 center border-r md-hide">
        <h4>Contact</h4>
        <p><strong> Email: </strong><a href="mailto:hello@onememorydesign.com">hello@onememorydesign.com </a></p>
    </div>
    <div class="col-4-middle_md-6_xs-12 padded-2 center padded">
        <h4>Let's Connect</h4>
        <nav>
            <a href="https://www.instagram.com/onememory.design/" target=”_blank” class="social-icons"> <i class="social fab fa-instagram"></i> </a>
            <a href="https://www.facebook.com/profile.php?id=61572833130208" target=”_blank” class="social-icons"> <i class="social fab fa-facebook-f"></i> </a>
            <a href="https://www.pinterest.com/onememorydesign/" target=”_blank” class="social-icons"> <i class="social fab fa-pinterest-p"></i> </a>
        </nav>
    </div>
    <hr class="col-12">
  
    <div class="col-12-middle center">
      <a class="copyright" href="https://onememorydesign.com">© 2025 OnememoryDesign.</a>
    </div>
  
  </section>            
            